@media (orientation: landscape) {
	.portrait-only {
		display: none ;
	}
}

@media (orientation: portrait) {
	.landscape-only {
		display: none ;
	}
}

body {
	overflow: hidden ;
	--bg-frame: #305;
	--fg-frame: white;
	font-size: 3vmin;
}

body > * {
	position: fixed ;
	left: 0 ;
	right: 0 ;
	top: 0 ;
	bottom: 0 ;
	padding: 0.25em;
}

#header {
	bottom: auto ;
	height: 2em ;
}

#header img,
#footer img {
	height: 0.8em;
	vertical-align: baseline;
}

#main {
	top: 2em ;
	bottom: 2em ;
	background: white ;
}

#footer {
	top: auto ;
	height: 2em ;
}

.frame {
	background: var(--bg-frame) ;
	color: var(--fg-frame) ;
}
.frame *:visited { color: var(--fg-frame); text-decoration: none; }
.frame *:link { color: var(--fg-frame); text-decoration: none; }
.frame a:hover { text-decoration: underline; }

.frame {
	display: flex ;
	flex-flow: row nowrap;
}

.frame > * {
	flex: 1 1 auto;
	text-align: center;
}

.frame > *:first-child {
	text-align: start;
}

.frame > *:last-child {
	text-align: end;
}
