
#main > * {
	position: absolute;
}

.info {
	display: none;
}

.info {
	padding: 1em;
	top: 2em ;
	left: 2em;
	width: auto;
	height: auto;
	border: solid 2px black;
	box-shadow: 3px 3px 5px 0px #777;
	background: rgba(255,255,255,0.8);
}

.info p {
	margin: 0;
}

.badges {
	top: 16vmin;
	left: 16vmin;
	bottom: 16vmin;
	right: 16vmin;
}

.badge {
	animation: scale-in 0.5s ease-in;
	position: absolute;
	width: 30vmin;
	height: 30vmin;
	margin-left: -15vmin;
	margin-top: -15vmin;
}

@keyframes scale-in {
    0% {
        transform:scale(0.0);
    }
	100% {
        transform:scale(1.0);
    }
}

.badge > * {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.badge > .image {
	left: 16%;
	right: 16%;
	top: 16%;
	bottom: 16%;
	opacity: 0.8;
}

.badge img {
	width: 100%;
	height: 100%;
}

.badge > .text {
	animation:spin-badge 20s linear infinite;
}

@keyframes spin-badge {
    100% {
        transform:rotate(-360deg);
    }
}

.badge.selected > .text {
	transform:rotate(-5deg);
	animation: wiggle-badge 2s ease-in-out infinite;
}

@keyframes wiggle-badge {
    0% {
        transform:rotate(-5deg);
    }
    50% {
        transform:rotate(+5deg);
    }
	100% {
        transform:rotate(-5deg);
    }
}

.badges.edit-mode .badge {
	opacity: 50%;
}

.badges.edit-mode .badge.selected {
	opacity: 100%;
	z-index: 1;
}

.badge-editor {
	position: absolute ;
	font-size: 5vmin;
	left: 1em ;
	right: 1em ;
	min-height: 2em ;
	height: auto ;
	border: solid 2px black;
	box-shadow: 3px 3px 5px 0px #777;
	z-index: 1;
}

.badge-editor.upper {
	top: 1em ;
}

.badge-editor.lower {
	bottom: 1em ;
}

.badge-editor {
	display: none ;
}

.badge-editor.editing {
	display: flex ;
}

.badge-editor {
	display: flex ;
	flex-flow: column wrap;
	justify-content: stretch;
	border-color: orange;
	background-color: peachpuff;
	border-radius: 0.5em;
}

.badge-editor .properties {
	padding: 0.25em;
	flex: 1 0 auto ;
}

.badge-editor .label {
	padding: 0.25em 0.25em 0 0.25em;
	font-size: 0.6em;
	color: rgba(0,0,0,0.7);
	flex: 1 0 auto ;
	font-weight: bold;
}

.badge-editor .label .former-value {
	font-size: 0.8em;
	color: rgba(0,0,0,0.7);
	display: none;
}

.badge-editor .label .former-value.value-has-changed {
	display: initial ;
}

.badge-editor .properties.secondary {
	font-size: 0.9em;
}

.badge-editor .properties.secondary .label {
	text-align: end;
}

.badge-editor .button {
	padding: 0.25em;
	font-size: 1rem;
}

.badge-editor input,
.badge-editor button,
.badge-editor a {
	width: 100%;
	height: 100%;
}

.badge-editor input {
	background: rgba(255,255,255,0.7);
	border: none;
	font-size: 1em;
}

.badge-editor .horizontal-divider {
	border-bottom: solid 1px black;
	text-align: center; 
}

.badge-editor .buttons,
.badge-editor .properties {
	display: flex ;
	flex-flow: row nowrap;
	justify-content: center;
}

.badge-editor .buttons > * {
	flex: 0 1 20em;
}

.badge-editor .properties {
	height: 1.25em;
}

.badge-editor .properties.secondary {
	height: 1.0em;
}

.badge-editor .properties > .image {
	flex: 1 0 3em;
	margin: 0 0.1em;
}

.badge-editor .properties > .text {
	flex: 0 1 100%;
	margin: 0 0.1em;
}

.badge-editor .properties > .signature {
	flex: 0 1 30%;
	margin: 0 0.1em;
}

.badge-editor .properties .image {
	display: flex ;
	flex-flow: row nowrap ;
}

.badge-editor .properties .image > .next-image,
.badge-editor .properties .image > .prev-image {
	flex: 0 1 0.7em;
}

.badge-editor .properties .image > .preview-image {
	flex: 0 0 1.25em;
}


.badge-editor .properties .image .preview-image img {
	display: none;
	width: 1.25em;
}

.badge-editor .properties .image .preview-image img.active {
	display: initial;
}

.badge-editor a {
	display: flex ;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.badge-editor a:visited {
	color: black;
}

.badge-editor button {
	background: none;
	border-color: orange;
	color: black;
	background: rgba(255,255,255,0.5);
	border-radius: 1em;
	padding: 0.25em 1em;
	display: flex ;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.badge-editor .button img {
	margin: 0.1em 0.25em;
	vertical-align: text-bottom;
}

.badge-editor .button:hover button {
	background: white;
}


.backdrop {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	top: 0;
	right: -25%;
	left: -25%;
	bottom: 0;
	overflow: hidden;
}

.backdrop > * {
	flex: 1 0 50%;
}

.backdrop > *:first-child {
	flex: 0 1 20%;
}

.backdrop > *:last-child {
	flex: 0 1 10%;
}

.backdrop img {
	height: 100vmin;
}

.banner {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: start;
	top: 10px;
	right: 0;
	left: 0;
	height: 15vh;
}

.banner > * {
	flex: 1 1 auto;
}

.banner img {
	max-width: 98vw
}

.wall-controls {
	top: 2%;
	width: 30vmin;
	height: 30vmin;
	right: 2%;
}

.controls {
	display: flex ;
	flex-flow: row wrap;
	justify-content: end;
}

.controls > * {
	flex: 0 0 auto;
	width: 10vmin;
	height: 10vmin;
}

.controls form {
position: relative;
}

.tutorial-mode .decoration.tutorial {
	pointer-events: none;
	position: absolute ;
	overflow: visible ;
	left: -2vmin;
	right: -2vmin;
	top: -2vmin;
	bottom: -2vmin;
}

.decoration .ring {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: solid red 1vmin;
	border-radius: 50%;
	animation: pulse-ring 2s linear infinite;
}

@keyframes pulse-ring {
    0% {
        transform:scale(1.0);
		opacity: 1.0;
    }
    60% {
        transform:scale(2.0);
		opacity: 0.0;
    }
    80% {
        transform:scale(0.8);
		opacity: 0.0;
    }
    100% {
		transform:scale(1.0);
		opacity: 1.0;
    }
}

.controls button {
	cursor: pointer;
	border-color: orange;
	background-color: peachpuff;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding: 20%;
	box-shadow: 3px 3px 5px 0px #777;
}

.badge-selector {
	display: block ;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 20;
}