{% extends "./page.html" %}
{% load static %}

{% block title %}
	Wall - {{ wall.name }}
{% endblock %}

{% block links %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'visitorapp/wall.css' %}">
	<script type="text/javascript" src="{% static 'visitorapp/wall.js' %}"></script>
{% endblock %}

{% block header %}
	{{ block.super }} - {{ wall.name }}
{% endblock %}

{% block main %}

{% if wall %}

	<div class="backdrop">
		<div></div>
		<div><img src="{% static 'visitorapp/TernNBDP8iBlue_1800x.png' %}"></div>
		<div></div>
	</div>

	<div class="banner">
		<div><img height="100%" src="{% url 'draw_banner' %}?text={{ wall.banner | urlencode }}"></div>
	</div>

	<div class="info">
		<p>id: {{ wall.id }}</p>
		<p>name: {{ wall.name }}</p>
		<p>banner: {{ wall.banner }}</p>
		<p>banner:</p>
		<p>{{ wall.description_html | safe }}</p>
		{% for i in inscriptions %}
		<p> inscription: {{i}} <p>
		{% endfor %}
	</div>

	{% if not edit_badge %}
	<div class="controls wall-controls {% if tutorial %}tutorial-mode{% endif %}">
		<form method="POST" action="{% url 'add_inscription' wall.id %}">
			{% csrf_token %}
			<button type="submit">
				<img src="{% static 'visitorapp/2730123_feather_harry_outline_potter_quill_icon.svg' %}">
			</button>
			{% if tutorial %}
			<div class="decoration tutorial">
				<div class="ring"></div>
			</div>
			{% endif %}
		</form>
	</div>
	{% endif %}

	<div class="badges {% if edit_badge %}edit-mode{% endif %}">
		{% for b in badge_list %}
		<div id="badge-{{b.id}}"
		    style="left: {{b.position.x}}%; top: {{b.position.y}}%;"
			class="badge {% if b.is_selected %}selected{% endif %} {% if b.is_mine %}permitted-to-edit{% endif %}"
			>
			<div class="image" style="transform: rotate( {{ b.skew }}deg )">
				<img src="{% static b.static_image %}">
			</div>
			<div class="text">
				<img src="{% url 'draw_ring' %}?text={{ b.text | urlencode }}&bg={{ b.bg | urlencode }}">
			</div>
			{% if b.is_mine and not b.edit_badge %}
			<a class="badge-selector" href="{% url 'show_wall' wall.id %}?editInscription={{ b.id }}"></a>
			{% endif %}
		</div>
		{% endfor %}
	</div>

	{% if edit_badge %}
	<form class="badge-editor {{ edit_badge.editor_location }}" method="POST" action="{% url 'update_inscription' wall.id edit_badge.id %}">
		{% csrf_token %}
		<div class="label">
			Replacement Message:
			<span style="display: none;" class="former-value" id="inscription_former_value">
				(was "{{edit_badge.text}}")
			</span>
		</div>
		<div class="text">
			<input name="text"
				type="text"
				id="inscription_autofocus"
				onfocus="javascript:selectall(this)"
				oninput="javascript:toggleformervalue( this.value, '{{edit_badge.text}}', 'inscription_former_value')"
				autocomplete="off"
				value="{{edit_badge.text}}"
				>
		</div>
		<div class="buttons">
			<div class="button">
				<a href="{% url 'show_wall' wall.id %}">
					<img src="{% static 'visitorapp/326541_block_icon.svg' %}">
					Nevermind
				</a>
			</div>
			<div class="button">
				<button type="submit" name="commit">
					<img src="{% static 'visitorapp/326568_check_circle_icon.svg' %}">
					Save Inscription
				</button>
			</div>
		</div>
		<div class="horizontal-divider"></div>
		<div class="buttons">
			<div class="button">
				<button type="submit" name="destroy" onsubmit="return confirm('Delete this inscription?')">
					<img src="{% static 'visitorapp/326606_delete_icon.svg' %}">
					Remove
				</button>
			</div>
		</div>
	</form>
	{% endif %}

{% else %}

	<p>no such wall</p>

{% endif %}

{% endblock %}